body {
      font-family: Arial, sans-serif;
      text-align: center;
      background: #eef3ff;
}


canvas {
      background: #ffffff;
      border: 2px solid #333;
      margin-top: 10px;
}


#questionBox {
      margin-top: 15px;
}


.hidden {
      display: none;
}

#questionBox {
      position: absolute;
      top: 110px;
      left: 50%;
      transform: translateX(-50%);
      background: transparent;
}

.answerBox {
      position: relative;
      top: 95px;
}

#mobileControls {
  display: none;
  margin-top: 10px;
}

#mobileControls button {
  font-size: 28px;
  padding: 15px 30px;
  margin: 0 10px;
  border-radius: 10px;
}
